.navbar{
    padding-top: 18px;
    background-color: #e60012;
    margin-bottom: -16px;
}

.navbar a{
    position:relative;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: white;
    text-decoration: underline;
}
.navbar ul{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
}
.navbar button{
    color: white;
    border: 0;
    position: relative;
    top: -29px;
    background-color: #e60012;
}

.aside-menu{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e60012;
}
.aside-menu a{
    position:relative;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.aside-menu a:hover{
    color: white;
    text-decoration: underline;
}
.aside-menu li{
    list-style-type: none;
}

.aside-menu button{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: #e60012;
    color: white;
}